
# Carpeta de salida de compilación (Binarios)
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.pdb
*.suo

# Archivos de Visual Studio (IDE)
*.suo

*.user
*.userprefs
.vs/

[Pp]ackages/
*.lock.json 

appsettings.Production.json

**/publish/
TestResults/

**/*.vspscc

/inventory-frontend/node_modules/
/inventory-frontend/.env
/inventory-frontend/dist/

[Ll]ogs/
*.log

*.ide/

.vscode/*
!.vscode/settings.json 
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json